.small-boxes-container {
    display: flex;
    justify-content: space-around;
  }
  
  .small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    width: 50px; /* Set the desired width of the icon */
    height: 50px; /* Set the desired height of the icon */
  }
  
  .text {
    margin-top: 8px; /* Adjust the margin as needed */
  }
  