.App {
  display: flex;
  flex-direction: column;
  background-color: blue;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  padding: 16px;
  
}
.app-logo{
  font-size: calc(10px + 2vmin);
  color: white;
}
.today{
  font-size: calc(4px + 2vmin);
  color: white;
}
