.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: linear-gradient(125deg, #caf4ed 0%, #9a02db); */
  
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  padding: 16px;
  box-shadow: 1px 3px 13px 5px #3b3b3bba;
  
}
.app-logo{
  font-size: calc(10px + 2vmin);
  color: white;
}
.today{
  font-size: calc(4px + 2vmin);
  color: white;
}
.result-page{
 display: flex;
 align-self: center;
 width: 85vw;
 height: 100vh;

 border-radius: 5px;
 justify-content: space-around;
}
.weather{
  display:flex;
  margin: 7px;
  flex-direction: column;
  width: 45%;
  
}
.current-weather{
  background-color: #2f3332;
  opacity: 0.7;
  justify-content: center;
  margin-bottom: 7px;
  height: 400px;
  width: -webkit-fill-available;
  border-radius: 10px;
}
h3 {
  text-align: center;
  margin-top: 5px;
}
.atmosphere{
  
  height: 400px;
  background-color: #2f3332;
  opacity: 0.7;
  border-radius: 10px;
  width: -webkit-fill-available;
}
.forecast{
  background-color: #2f3332;
  opacity: 0.7;
  border-radius: 10px;
  margin: 7px;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
}
.forecast::-webkit-scrollbar {
  display: none;
}
@media (max-width: 800px) {
  .result-page {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 800px) {
  .forecast {
    width: 98%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .weather {
    width:98%;
  }
}

.container{
  display: flex;
  justify-content: space-around;
}
.info{
  display: flex;
  justify-content: space-around;
}

.landingPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 25rem;
}